################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PeepCoin-TheCoinForThePeople/v15/.suo
