################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PeepCoin-TheCoinForThePeople/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/PeepCoin-TheCoinForThePeople/v15/Browse.VC.opendb
/.vs/PeepCoin-TheCoinForThePeople/v15/Browse.VC.db
